.background{
    background-image: url('../../Assets/bgimage.jpg');
    /* background-size: cover; */
    background-repeat: repeat;
    background-position:0cqi;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.681);
    overflow: hidden;
    font-size: larger;
    color: white;
    width: 100vw;
    max-width: 65 rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}

.skillTitle {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.681)
    
}

.skillDesc {
    background-color: rgba(0, 0, 0, 0.681);
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 100rem;
    padding: 0 2rem;
    
}

.skillBars {
    margin: 1rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    color: white;
    
    
}
.container {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    border-radius: 12px;
     /* background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);  */
     /* background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);  */
   
}


.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
    max-width: 100rem;
}

.top-bar input {
    display: flex;
    /* max-width: 100rem; */
    /* width: 362px;
    height: 78px; */
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    /* color: #626262; */
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 3vw; */
    width: 2rem;
    /* width: 78px; */
    height: 78px;
    background:white;
    border-radius: 40px;
    cursor: pointer;
}
.cityInput {
   width: 15rem;
}

.weather-image{
    margin: 29.px;
    display: flex;
    justify-content: center;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;   
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-size: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;

}