.skills {
    
}

#skills {
    overflow: hidden;
    font-size: larger;
    color: white;
    width: 100vw;
    max-width: 65 rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
 background-image: url('../Assets/bgimage.jpg');
    /* background-size: cover; */
    background-repeat: repeat;
    background-position:0ch 
   

}

.skillTitle {
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.681);
    color: white;
   
    
}

.skillDesc {
    background-color: rgba(0, 0, 0, 0.681);
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 100rem;
    padding: 0 2rem;
    
}

.skillBars {
    margin: 1rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    color: white;
    

    
    
}

.skillBar {
    display: flex;
    margin: 1.35rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.681);
    font-weight: 300;
    font-size: 1.5rem;
    /* background-image: url('../Assets/coding.jpg');
    background-size:40%;
   */
    

    
}
.skillBarImg {
    object-fit: cover;
    height: 4rem;
    width: 5rem;
    margin-right: 2rem;
}

/* .skillBar {
    font-size: 0.9rem;
    font-weight: 200;

} */

@media screen and (max-width: 720px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}
