#contactPage {
    min-height: calc(100vh - 4rem);
    /* width: 100vw;
    max-width: 60rem; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../Assets/bgimage.jpg');
}

.contactPageTitle {
    margin-top: 6rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.clientDesc{
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    background-color:rgba(0, 0, 0, 0.59);
}

.clientsDesc {
    font-weight: 300;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.59);
    
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients {
    
    padding: 2rem;
    /* background-color: rgba(0, 0, 0, 0.573); */
 
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    color: white;
}

.contactPageTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.59);
}


.contactForm {
    margin-bottom: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}


.linkedintitle{
    padding: 1rem;
    
    font-weight: 300;
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color:rgba(0, 0, 0, 0.59);

}
.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.59);
    border: none;
    border-radius: 0.5rem;
    /* background: rgb(40, 40, 40); */
}

.submitBtn {
    color: white;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.041);
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}