.navbar {
    height: 2.5rem;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.mobMenu {
    /* position: absolute; */
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 2rem;
    /* display: none; */
    object-fit: cover;
    height: 1.8rem;
    margin-right: 2rem;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.431);
}

.desktopMenu {
    align-items: center;
    width: 100vw;
    height: 3rem;
    margin-bottom: 1rem;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.625);
}

.desktopMenuListItem {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: black;
    width: 17vw;
    margin-top: 10px;
    list-style: none; 
    cursor: pointer;
    display: flex;
    gap: 3rem;   
}

.desktopMenu ul {   
    list-style-type: none;
    display: flex;
    background: transparent;
    color: black;
    border-radius: 0cm;
}

.desktopMenuListItem:hover { 
    color: black;
    padding-bottom: 0.2rem;
    border-bottom: 4px solid  black;
 } 

/* .logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
} */

.desktopMenuBtn {
    background: transparent;
    color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active {
    color:  rgb(0, 255, 81);
    padding-bottom: 0.5rem;
    /* border-bottom: 5px solid yellow; */
}

.navMenu {
    position: absolute;
    top: 2.5rem;
    width: 12rem;
    background-color:rgba(255, 255, 255, 0.705);
    /* max-width: 20rem; */
    /* right: 2rem; */
    /* z-index: 2; */
    /* display: flex; */
    flex-direction: column;
    /* padding: 0.5rem; */
    height: fit-content; 
    /* min-width: 15rem; */
    
    /* border-radius: 1rem; */
    /* background-color: rgba(255, 255, 255, 0.896); */
    /* background: transparent;  */
    border-radius: 1rem; 
}

.navmenuitem {
    color: transparent;
}



.listItem {
    color: transparent;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: transparent;
}

.mobMenu{
    margin-top: 2rem;
     object-fit:fill;
    height: 1.5rem;
   
}

.mobMenuListItem {
    font-size: 1.5rem;
    margin-left: 2.5rem;
    color: black;
    width: 80vw;
    margin-top: 10px;
    list-style: none; 
    cursor: pointer;
    display: flex;
    gap: 3rem; 
}

.mobMenuListItem:hover {
    color:rgba(0, 0, 0, 0.543);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid(0, 255, 81);
    
}
.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: white(154, 10, 10);
}



@media screen and (max-width: 720px) {
    .mobMenu {
        display: relative;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
    
}

@media screen and (min-width: 721px) {
    .mobMenu {
        display: none;
    }

    .desktopMenu {
        display: flex;
    }

    .desktopMenuBtn {
        display: none;
    }
    
}

