.navbar {
     box-sizing: border-box;
    background:transparent;
    height: 0rem;
    /* width: 90%; */
    margin-left: 0rem;
     margin-top: 2rem;
   padding: 1rem; 
    display:flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
     position: fixed;
    
   z-index: 3; 
    list-style: none;  
    position: absolute;
    color: rgb(13, 158, 13);
    /*p;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: transparent;
    border-radius: 1rem;*/

}

.desktopMenu ul {
    list-style-type: none;
    display: flex;
    background: transparent;
    color: rgb(16, 124, 25);
    border-radius: 0cm;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktopMenuListItem {
    color: white;
    /* width: 80vw; */
    background-color: rgba(0, 0, 0, 0.364);
    margin: 2rem;
    margin-top: 10px;
    list-style: none;
    
        /* cursor: pointer; */
    /* display: flex; */
    gap: 3rem;
    
    
    
}
.desktopMenuListItem:hover {
    color:  rgb(0, 255, 81);;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid  rgb(0, 255, 81);
}

.desktopMenuBtn {
    background: transparent;
    color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;

}

.active {
    color:  rgb(0, 255, 81);
    padding-bottom: 0.5rem;
    /* border-bottom: 5px solid yellow; */
}


.mobMenu{
    /* display: none; */
    object-fit: cover;
    height: 1.8rem;
}
.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: transparent;
    border-radius: 1rem;
    
}

.navmenuitem {
    color: rgb(255, 255, 255);
}

.navmenuitem:hover {
    color: rgb(0, 255, 81);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid(0, 255, 81);
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: transparent;
}

.mobMenu{
    /* display: none; */
    object-fit: cover;
    height: 1.5 rem;
     position:relative
}
.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: white;
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: white(154, 10, 10);
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
    
}

